<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container">

<h1 th:text="${title}">Default Title</h1>

<nav th:replace="fragments :: navigation"></nav>

<p th:unless="${animes} and ${animes.size()}">no anime :(</p>


<table class="table">

    <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Category</th>
    </tr>

    <tr th:each="anime : ${animes}">
        <td th:text="${anime.name}"></td>
        <td th:text="${anime.description}"></td>
        <td th:text="${anime.category.getName()}"></td>
    </tr>

</table>

<a th:href="@{anime/add}">Add</a>  |
<a th:href="@{anime/remove}">Remove</a>

</body>
</html>